-# Locals:
-#   object
-#   association:
-#   associated_object:
-#   association_name_attribute:

- model = object.class
- identifying_name = associated_object.public_send(association_name_attribute)

.item
  %dt<
    = t 'formats.attribute_name:',
        :attribute => model.human_attribute_name(association)
  %dd.reference
    = link_to identifying_name,
              associated_object.path_to(:action => :show),
              :title => t('actions.read'),
              :class => 'display associated resource'
