%h1= t '.header'

= render 'shared/tables/grid_index',
         :model                         => MembershipsController::Membership,
         :associated_collection1        => @activity_periods,
         :associated_collection2        => @membership_types,
         :find_by_ids_method            => :find_by_activity_period_id_and_membership_type_id,
         :build_by_ids_method           => :build_by_activity_period_id_and_membership_type_id,
         :attribute_presentation_helper => :membership_summary_in_period_type_grid,
         :key1                          => :unique_title,
         :key2                          => :unique_title,
         :description1                  => :unique_title,
         :description2                  => :unique_title

%footer
-#   = link_to edit_pictogram(3) + ' ' + t('memberships.edit_all.header'),
-#             edit_all_memberships_path,
-#             :title => t('actions.update'),
-#             :class => 'modify resource'
