<tr>
  <th scope=row>
    <%= link_to known_ip.public_send(@displayed_columns[0]), known_ip,
                :title => t('actions.read'),
                :class => 'display' %>
  </th>

  <% @displayed_columns[1..-1].each do |attribute| %>
    <td><%= known_ip.public_send(attribute) %></td>
  <% end %>

  <td class="operation">
    <%= link_to edit_pictogram, edit_admin_known_ip_path(known_ip),
                :title => t('actions.update'),
                :class => 'modify' %>
  </td>

  <td class="operation">
    <%= link_to delete_pictogram, known_ip,
                :confirm => t("questions.are_you_sure?"),
                :method  => :delete,
                :title   => t('actions.delete'),
                :class   => 'modify' %>
  </td>
</tr>