<tr>
  <th scope=row>
    <%= link_to known_ip.ip, known_ip,
                :title => t('actions.read'),
                :class => 'display' %>
  </th>

  <td><%= known_ip.description %></td>
</tr>
