%h1= t '.header'

= render 'shared/tables/index',
         :collection    => @known_ips,
         :attributes    => @attributes,
         :html_table_id => :known_ips

%footer>
  = link_to add_pictogram(2) + ' ' + t('admin.known_i_ps.new.header'),
            new_known_ip_path,
            :title => t('actions.create'),
            :class => 'add resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to add_pictogram + ' ' + t('admin.known_i_ps.new.title'),
              new_known_ip_path,
              :title => t('actions.create'),
              :class => 'add resource'
