<h1><%= t '.header' %></h1>

<%= render 'index_table' %>

<footer>
  <%= link_to add_pictogram+' '+t('admin.known_i_ps.links.new'),
              new_admin_known_ip_path,
              :title => t('actions.create'),
              :class => 'add resource' %>
</footer>

<%# End of template %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to t('admin.known_i_ps.links.new'),
                  new_admin_known_ip_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %></li>
<% end %>
