<h1><%= t '.header' %></h1>

<%= render 'shared/index_table',
           :models         => @known_ips,
           :attributes     => @attributes,
           :column_types   => @column_types,
           :column_headers => @column_headers,
           :html_table_id  => :known_ips %>

<footer>
  <%= link_to add_pictogram(2)+' '+t('admin.known_i_ps.new.header'),
              new_admin_known_ip_path,
              :title => t('actions.create'),
              :class => 'add resource' %>
</footer>

<%# End of the main body of the view %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to add_pictogram+' '+t('admin.known_i_ps.new.title'),
                  new_admin_known_ip_path,
                  :title => t('actions.create'),
                  :class => 'add resource' %></li>
<% end %>
