= form_for @activity_period, :as => :activity_period,
           :url => @activity_period_form_url do |f|

  = render 'shared/error_messages/validation', :target => @activity_period

  %dl.form_fields

    - @attributes.each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute

  .actions
    = f.submit
