-# Locals:
-#   form_builder:
-#   attribute:
-#   column_type (optional):
-#   input_html_options (optional):

- unless local_assigns.key? :input_html_options
  - input_html_options = {}

- model = form_builder.object.class

- unless local_assigns.key? :column_type
  - column_type = model.column_db_type(attribute)

.item.field
  %dt
    = form_builder.label attribute,
        label_from_attribute_name(model, attribute, column_type)

  %dd{ :class => html_class_from_column_type(column_type) }
    = form_builder.smart_input_field attribute, column_type, input_html_options
