-# Locals:
-#   form_builder:
-#   association:
-#   association_name_attribute:
-#   collection (optional):
-#   input_html_options (optional):

- input_html_options ||= {}

- object = form_builder.object
- klass = object.class

-# XXX: using undocumented ActiveRecord::Reflection module methods, for example
-# #association_foreign_key
- assoc_reflection = klass.reflect_on_association(association)

- foreign_key = assoc_reflection.association_foreign_key
- collection ||= assoc_reflection.klass.all

- required = klass.attr_required?(foreign_key)
- input_html_options[:required] = 'required' if required

- attr_name = klass.human_attribute_name(association)
- label_content = t('formats.attribute_name:', :attribute => attr_name)

- editable = object.attr_editable?(foreign_key)

.item.field
  - if editable
    %dt
      = form_builder.label foreign_key, label_content
    %dd.list
      = form_builder.collection_select foreign_key, collection,
                                       :id, association_name_attribute,
                                       { :include_blank => !required },
                                       input_html_options
  - else
    %dt
      %b= label_content
    %dd.reference
      = object.public_send(association).public_send(association_name_attribute)
