= form_for @membership_type, :as => :membership_type,
           :url => @membership_type_form_url do |f|
  = render 'shared/error_messages/validation', :target => @membership_type
  %dl.form_fields
    - @attributes.each do |attribute|
      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute,
               :column_type  => @column_types[attribute]
  .actions
    = f.submit
