= form_for @membership_type, :as => :membership_type,
           :url => @membership_type_form_url do |f|

  = render 'shared/error_messages/validation', :target => @membership_type

  %dl.form_fields
    - @attribute_names.each do |attr_name|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attr_name

  .actions
    = f.submit
