$body-bg-color: #009;
$section-bg-color: #fff;
$common-navigation-link-color: #00c;
$common-navigation-link-color-bright: #00f;
$logout-navigation-link-color: #063;
$logout-navigation-link-bg-color: #ff0;
$disabled-navigation-link-color: #ccc;
$view-link-color:#060;
$modify-link-color:#600;
$even-table-row-bg-color:#eef;

@mixin rounded-corners($radius) {  
  border-radius: $radius;  
  -moz-border-radius: $radius;  
  -webkit-border-radius: $radius;  
}  

body {
  background-color: $body-bg-color;
}

.container {
  width: 960px;
  margin-left:160px;
  padding:0px;
}

/* Navigation */

nav {
  float: none;
  background-color: $section-bg-color;
  padding: 0;
  
  ul {
    white-space-collapse: discard;
    list-style-type: none;
    width: 100%;
    margin: 0;
    
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      
      a {
        display: inline-block;
        color: $common-navigation-link-color;
        font-weight: bold;
        text-decoration: none;
        padding: 5px;

        &:visited {
          color: $common-navigation-link-color;
        }

        &:hover {
          color: $common-navigation-link-color-bright;
          text-decoration: underline;
        }
      }
    }
    
    li.separator {}
  }
}

/* Header */

header {
  font-size: 120%;
  text-align: left;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;

  nav {
    @include rounded-corners(10px);
    
    ul {
      margin-left: 5px;
      margin-right: 0;
      padding: 0;
      
      li a {
        display: inline-block;
        text-decoration: none;
        
        &:hover {
          color: $section-bg-color;
          background-color: $common-navigation-link-color;
          text-decoration: none;
        }
      }
      
      li.logout_item {
        display: inline;
        float: right;
        
        a.logout_button {
          @include rounded-corners(10px);
          margin: 0 5px;
          padding: 5px 10px;
          color: $logout-navigation-link-color;
          background-color: $logout-navigation-link-bg-color;
          text-decoration: none;
          
          &:visited {
            color: $logout-navigation-link-color;
            background-color: $logout-navigation-link-bg-color;
            text-decoration: none;
          }
          
          &:hover {
            color: $logout-navigation-link-bg-color;
            background-color: $logout-navigation-link-color;
            text-decoration: none;
          }
        }
      }      
        
      li.disabled {
        color: $disabled-navigation-link-color;
        text-decoration: none;
          
        span.disabled_link {
          display: inline-block;
          color: $disabled-navigation-link-color;
          font-weight: bold;
          text-decoration: none;
          padding: 5px;
        }
      }
    }
  }
}

/* Logo box and menu */

div#main_logo {
  position: fixed;
  top:  5px;
  left: 5px;
}

div#main_logo div#logo_box {
  @include rounded-corners(10px);
  display: inline-block;
  padding: 10px;
  opacity:0.75;
  
  &:hover {
    opacity:1;
  }
}

div#main_logo div#logo_menu {
  display: none;
}

div#main_logo:hover div#logo_menu {
  margin-top: 5px;
  display: block;
  opacity:0.75;
  
  &:hover {
    opacity:1;
  }
}

div#main_logo div#logo_menu nav {
  @include rounded-corners(0);
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 80%;
  
  ul {
    margin: 0;
    padding: 0;
    
    li {
      display: block;
      
    a {
      margin: 0;
      padding: 5px;
      display: block;
      font-weight: normal;
      }
    }
    
    a.logout_button {
      @include rounded-corners(0);
      margin: 0;
      padding: 5px;
      display: block;
    }

    li.logout_item {
      float: none;
    }
    
    li.separator {
      display: none;
    }
    
    li.disabled {
      display: none;
    }
  }
}

/* Footer */

footer {
  font-size: 120%;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  
  nav {
    @include rounded-corners(10px);
  }  
}

/* Section */

section {
  @include rounded-corners(10px);
  margin-top: 5px;
  font-size: 120%;
  padding: 20px;
  background-color: $section-bg-color;
  
  h1 {
    font-size: 200%;
  }
  
  table {
    font-size: 100%;
    border-top: solid 1px $even-table-row-bg-color;
    border-bottom: solid 1px $even-table-row-bg-color;
    margin-bottom: 5px;
    
    &.form {
      width: auto;
      margin: auto;
    }
    
    tbody tr:nth-child(even) td, tbody tr.even td {
      background: $even-table-row-bg-color;
    }
    
    th {
      font-size: 80%;
      # margin: 5px 0px;
      padding: 5px;
    }
        
    td {
      # margin: 10px 0px;
      padding: 0px 5px;
    }
  }
  
  fieldset {
    margin:0;
  }
  
  a {
    @include rounded-corners(5px);
    padding: 5px 5px;
    display: inline-block;
    color: $view-link-color;
    text-decoration: none;

    &:visited {
      color: $view-link-color;
    }

    &:hover {
      color: $section-bg-color;
      background-color: $view-link-color;
    }
      
    img {
      margin: 0px;
    }
  }
  
  a.modify {
    color: $modify-link-color;
    
    &:visited {
      color: $modify-link-color;
    }
  
    &:hover {
      color: $section-bg-color;
      background-color: $modify-link-color;
    }
  }
  
  h3, h4, h5, h6, p {
    margin:0;
  }
}

/* Styles for validation errors, generated automatically by scaffolding */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline;
}
  
.field_with_errors .message {  
  color: #c00;  
  padding-left: 5px;  
}  

#error_explanation {
  border: 2px solid red;
  background-color: #ccc;
  margin-bottom: 20px;
  
  h2 {
    padding: 5px 5px 5px 15px;
    background-color: #c00;
    color: #fff;
  }
  
  ul li {
    list-style: square;
  }
}
