$body-bg-color: Navy;
$body-text-color: DarkSlateGray;
$section-bg-color: #F5F5F5;
$alt-section-bg-color: #E6E6FA;
$common-navigation-link-color: MediumBlue;
$common-navigation-link-hover-color: Blue;
$logout-navigation-link-color: #006400;
$logout-navigation-link-bg-color: Yellow;
$disabled-navigation-link-color: Silver;
$button-link-bg-color: none;
$button-link-hover-shadow-color: $section-bg-color;
$view-link-color: Green;
$add-link-color: Blue;
$modify-link-color: Red;
$odd-table-row-bg-color: $section-bg-color;
$even-table-row-bg-color: $alt-section-bg-color;
$table-border-color: darken($alt-section-bg-color, 5%);
$table-head-bg-color: $table-border-color;
$input-bg-color: White;
$focus-input-glow-color: Red;
$focus-input-bg-color: White;
$focus-input-text-color: Black;
$login_form-focus-glow-color: Blue;

@mixin rounded-border($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
  box-shadow: $x $y $blur $spread $color;
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
}

body {
  background-color: $body-bg-color;
  color: $body-text-color;
  font-size: 11pt;
}

.container {
  width: 960px;
  margin-left: 160px;
  margin-botton: auto;
}

img {
  vertical-align: middle;
}

span.pictogram {
  display: inline-block;
  font-weight: bold;
  padding: 0;
  margin: -100px 0;
  vertical-align: middle;
  color: inherit;
}

input:not([type="submit"]), textarea {
  background-color: $input-bg-color;

  &:focus {
    @include box-shadow(0, 0, 3px, 0, $focus-input-glow-color);
    background-color: $focus-input-bg-color;
    color: $focus-input-text-color;
  }
}

div#welcome_logo {
  text-align: center;
}

/* Links for developpers */

div#developper_links {
  position: absolute;
  top: 5px;
  left: 1125px;
  
  a {
    position: absolute;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  a#ruby {
    top: 0;
    left: 0;
  }

  a#rails {
    top: 0;
    left: 61px;
  }

  a#source_code {
    @include rounded-border(5px);
    top: 69px;
    left: 0;
    display: block;
    width: 111px;
    height: 31px;
    line-height: 31px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: Lime;
    background-color: LightSlateGray;
    text-decoration: none;
    font-size: 12pt;
    font-weight: normal;

    &:hover {
      text-decoration: none;
    }
  }
}

/* Generic navigation */

nav {
  ul {
    # list-style-type: none;
    # width: 100%;

    li {
      ul {
        display: none;
      }
    }
  }
}

/* Log-in form */

form#login_form {
  text-align: center;

  input:focus {
    @include box-shadow(0, 0, 3px, 0, $login_form-focus-glow-color);
  }

  fieldset {
    display: inline-block;
    text-align: left;

    legend {
      display: inline;
      text-align: center;
    }
  }
}

/* Header */

body > div.container > header {
  @include rounded-border(10px);
  background-color: $section-bg-color;
  font-size: 12pt;
  text-align: left;
  margin: 5px auto;

  nav.main_menu {
    display: inline-block;

    ul {
      margin: 0 5px;
      padding: 0;

      li {
        display: inline-block;
        font-weight: bold;

        a, a:visited {
          display: inline-block;
          margin: 0;
          padding: 5px;
          color: $common-navigation-link-color;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $section-bg-color;
            background-color: $common-navigation-link-color;
            text-decoration: none;
          }
        }
      }
    }
  }

  & > nav.main_menu {
    ul {
      hr + li:before {
        content: "|";
      }

      li.disabled {
        color: $disabled-navigation-link-color;
        text-decoration: none;

        span.disabled_link {
          display: inline-block;
          color: $disabled-navigation-link-color;
          padding: 5px;
        }
      }
      
      hr {
        display: none;
      }
    }
  }

  a.logout_button, a.logout_button:visited {
    @include rounded-border(10px);
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    color: $logout-navigation-link-color;
    background-color: $logout-navigation-link-bg-color;
    font-weight: bold;
    text-decoration: none;
    float: right;

    &:hover {
      color: $logout-navigation-link-bg-color;
      background-color: $logout-navigation-link-color;
      text-decoration: none;
    }

    &:active {
      background-color: lighten($logout-navigation-link-color, 10%);
    }
  }

  /* Logo box and menu */

  div#main_logo {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 1;
  }

  div#main_logo div#logo_box {
    @include rounded-border(10px);
    display: inline-block;
    padding: 10px;
    opacity: 0.75;

    img {
      vertical-align: middle;
    }

    &:hover {
      opacity: 1;
    }
  }

  div#main_logo div#logo_menu {
    display: none;
  }

  div#main_logo:hover div#logo_menu {
    display: block;
    position: fixed;
    top: 0;
    left: 155px;
    padding: 5px;
    background-color: transparent;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
    
    nav {
      background-color: $section-bg-color
    }
  }

  div#main_logo div#logo_menu nav {
    @include box-shadow(0, 0, 5px, 0, $body-bg-color);
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 10pt;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: block;

        a, a:visited {
          display: block;
          margin: 0;
          padding: 5px;
          font-weight: normal;
        }
      }

      hr {
        margin: 0;
      }

      li.disabled {
        display: none;
      }
    }
  }
}

/* Footer */

body > div.container > footer {
  @include rounded-border(10px);
  background-color: $section-bg-color;
  font-size: 12pt;
  text-align: center;
  margin: 5px auto;

  ul {
    margin: 0;
    padding:0;
    font-weight: bold;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      a, a:visited {
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        color: $common-navigation-link-color;

        &:hover {
          color: $common-navigation-link-hover-color;
          text-decoration: underline;
        }
      }

      ul {
        display: none;
      }
    }
  }
}

/* Side menu */

nav#side_menu {
  @include rounded-border(5px);
  position: fixed;
  top: 110px;
  left: 5px;
  width: 150px;
  margin: 0;
  padding: 0;
  background-color: $section-bg-color;
  font-weight: normal;
  font-size: 10pt;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: block;

      a, a:visited {
        display: block;
        font-weight: normal;
        text-decoration: none;
      }
    }
  }
}

/* Flash messages */

body > div.container > section > div.flash {
  a {
    margin: 0;
    padding: 0;
  }
}

/* Sections */

body > div.container > section {
  @include rounded-border(10px);
  background-color: $section-bg-color;
  padding: 10px;

  section {
    @include rounded-border(5px);
    margin: 5px 0;
    padding: 5px;
  }

  & > section {
    background-color: $alt-section-bg-color;

    & > section {
      background-color: $section-bg-color;
    }
  }
}

body > div.container section {
  h1 {
    color: inherit;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 5px;
  }

  h2, h3, h4, h5, h6, p {
    color: inherit;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
  }

  & > h1 {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
  }

  h2, & > section > h1 {
    font-size: 14pt;
    font-weight: bold;
  }

  h3, h4, h5, & > section section h1 {
    font-size: 12pt;
    font-weight: bold;
  }

  dl.show, dl.form_fields {
    display: table;
    border: solid 1px $table-border-color;
    
    & > div {
      display: table-row;

      &.caption {
        display: table-caption;
        text-align: center;
      }

      & > dt {
        display: table-cell;
        padding: 0 5px;
      }

      & > dd {
        display: table-cell;
        padding: 0 5px;

        &.long_text {
          vertical-align: top;
        }
      }

      &:nth-child(odd) {
        & > dt {
          background-color: darken($odd-table-row-bg-color, 5%);
        }

        & > dd {
          background-color: $odd-table-row-bg-color;
        }
      }

      &:nth-child(even) {
        & > dt {
          background-color: darken($even-table-row-bg-color, 5%);
        }

        & > dd {
          background-color: $even-table-row-bg-color;
        }
      }
    }
  }

  dl.show {
    margin: 0;
  }

  dl.form_fields {
    margin: 0 auto;
    
    & > div > dd.input {

      &.required:after {
        content: "*";
      }

      &.required.readonly:after {
        content: "*!";
      }      

      &.readonly:after {
        content: "!";
      }      
    }
  }

  input[type="checkbox"]:not(:checked) + *.checkbox_conditional {
    display: none;
  }

  table {
    border: solid 1px $table-border-color;
    width: auto;
    margin: 0;

    th, td {
      padding: 0 5px;

      a {
        display: block;
        margin: 0 -5px;
      }
    }

    th {
      background-color: $table-head-bg-color;
    }

    thead > tr > th.boolean {
      text-align: center;
    }

    tbody > tr {

      td.boolean, th.boolean {
        text-align: center;
      }

      &:nth-child(odd) {
        & > td, & > th {
          background-color: $odd-table-row-bg-color;
        }
      }

      &:nth-child(even) {
        & > td, & > th {
          background-color: $even-table-row-bg-color;
        }
      }
    }

    &.grid {
      thead > tr {
        th:nth-child(odd) {
          background-color: darken($odd-table-row-bg-color, 5%);
        }

        th:nth-child(even) {
          background-color: darken($even-table-row-bg-color, 5%);
        }
      }

      tbody > tr:nth-child(odd) {
        & > td:nth-child(odd) {
          background-color: $even-table-row-bg-color;
        }

        & > td:nth-child(even) {
          background-color: $odd-table-row-bg-color;
        }

        & > th {
          background-color: darken($even-table-row-bg-color, 5%);
        }
      }

      tbody > tr:nth-child(even) {
        & > td:nth-child(odd) {
          background-color: $odd-table-row-bg-color;
        }

        & > td:nth-child(even) {
          background-color: $even-table-row-bg-color;
        }

        & > th {
          background-color: darken($odd-table-row-bg-color, 5%);
        }
      }

      tbody > tr > th {
        background-color: $table-head-bg-color;
      }
    }

    &.records, &.form_fields {
      thead > tr > th {
        font-size: 10pt;
      }

      tbody > tr {
        &:nth-child(odd) {
          & > td.operation {
            background-color: darken($odd-table-row-bg-color, 5%)
          }
        }

        &:nth-child(even) {
          & > td.operation {
            background-color: darken($even-table-row-bg-color, 5%)
          }
        }
      }
    }

    &.form_fields {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }

    caption {
      text-align: center;
      white-space: nowrap;
    }
  }

  fieldset {
    @include rounded-border(5px);
    margin: 0.5em 0;
    padding: 10px;

    legend {
      margin: 0 10px;
      padding: 0px 5px;
    }
  }

  form div.actions {
    text-align: center;
  }

  div.link_group {
    @include rounded-border(5px);
    border: dotted 1px;
  }

  a, a:visited {
    @include rounded-border(5px);
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    background-color: $button-link-bg-color;

    &:hover {
      text-shadow: 0 0 3px $button-link-hover-shadow-color;
    }
  }

  a.display, a.display:visited {
    color: $view-link-color;

    &:hover {
      color: $section-bg-color;
      background-color: $view-link-color;
      text-decoration: none;
      text-shadow: none;
    }

    &:active {
      background-color: lighten($view-link-color, 10%);
    }
  }

  a.add, a.add:visited {
    color: $add-link-color;

    &:hover {
      color: $section-bg-color;
      background-color: $add-link-color;
      text-decoration: none;
      text-shadow: none;
    }

    &:active {
      background-color: lighten($add-link-color, 10%);
    }
  }

  a.modify, a.modify:visited {
    color: $modify-link-color;

    &:hover {
      color: $section-bg-color;
      background-color: $modify-link-color;
      text-decoration: none;
      text-shadow: none;
    }

    &:active {
      background-color: lighten($modify-link-color, 10%);
    }
  }
}

/* Styles for validation errors, use automatically generated classes and ids */

pre {
  background-color: WhiteSmoke;
  padding: 10px;
  font-size: 10pt;
}

#notice {
  color: Green;
}

#error_explanation {
  border: 2px solid DarkRed;
  background-color: LightYellow;
  margin-bottom: 20px;

  h2 {
    padding: 5px 5px 5px 15px;
    background-color: DarkRed;
    color: White;
  }

  ul {
    margin-bottom: 0;

    li {
      list-style: square;
    }
  }
}

div.field_with_errors {
  display: inline;
  
  label {
    color: Red;
    text-decoration: underline;
  }

  .message {
    color: DarkRed;
    padding-left: 5px;
  }
}
