<h1><%= t '.header' %></h1>

<%= render 'form' %>

<footer>
  <%= link_to list_all_pictogram(3) + ' ' + t('instructors.index.header'),
              instructors_path,
              :class => 'display resource' %>
</footer>

<%# End of the main body of the view %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to list_all_pictogram + ' ' + t('instructors.index.title'),
                  instructors_path,
                  :class => 'display resource' %></li>
<% end %>
