body {
  background-color: #000099; }

.container {
  width: 960px;
  margin-left: 160px;
  padding: 0px; }

/* Navigation */
nav {
  float: none;
  background-color: white;
  padding: 0; }
  nav ul {
    white-space-collapse: discard;
    list-style-type: none;
    width: 100%;
    margin: 0; }
    nav ul li {
      display: inline-block;
      margin: 0;
      padding: 0; }
      nav ul li a {
        display: inline-block;
        color: #0000cc;
        font-weight: bold;
        text-decoration: none;
        padding: 5px; }
        nav ul li a:visited {
          color: #0000cc; }
        nav ul li a:hover {
          color: blue;
          text-decoration: underline; }

/* Header */
header {
  font-size: 120%;
  text-align: left;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; }
  header nav {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    header nav ul {
      margin-left: 5px;
      margin-right: 0;
      padding: 0; }
      header nav ul li a {
        display: inline-block;
        text-decoration: none; }
        header nav ul li a:hover {
          color: white;
          background-color: #0000cc;
          text-decoration: none; }
      header nav ul li.logout_item {
        display: inline;
        float: right; }
        header nav ul li.logout_item a.logout_button {
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          margin: 0 5px;
          padding: 5px 10px;
          color: #006633;
          background-color: yellow;
          text-decoration: none; }
          header nav ul li.logout_item a.logout_button:visited {
            color: #006633;
            background-color: yellow;
            text-decoration: none; }
          header nav ul li.logout_item a.logout_button:hover {
            color: yellow;
            background-color: #006633;
            text-decoration: none; }
      header nav ul li.disabled {
        color: #cccccc;
        text-decoration: none; }
        header nav ul li.disabled span.disabled_link {
          display: inline-block;
          color: #cccccc;
          font-weight: bold;
          text-decoration: none;
          padding: 5px; }

/* Logo box and menu */
div#main_logo {
  position: fixed;
  top: 5px;
  left: 5px; }

div#main_logo div#logo_box {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: inline-block;
  padding: 10px;
  opacity: 0.75; }
  div#main_logo div#logo_box:hover {
    opacity: 1; }

div#main_logo div#logo_menu {
  display: none; }

div#main_logo:hover div#logo_menu {
  margin-top: 5px;
  display: block;
  opacity: 0.75; }
  div#main_logo:hover div#logo_menu:hover {
    opacity: 1; }

div#main_logo div#logo_menu nav {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 80%; }
  div#main_logo div#logo_menu nav ul {
    margin: 0;
    padding: 0; }
    div#main_logo div#logo_menu nav ul li {
      display: block; }
      div#main_logo div#logo_menu nav ul li a {
        margin: 0;
        padding: 5px;
        display: block;
        font-weight: normal; }
    div#main_logo div#logo_menu nav ul a.logout_button {
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      margin: 0;
      padding: 5px;
      display: block; }
    div#main_logo div#logo_menu nav ul li.logout_item {
      float: none; }
    div#main_logo div#logo_menu nav ul li.separator {
      display: none; }
    div#main_logo div#logo_menu nav ul li.disabled {
      display: none; }

/* Footer */
footer {
  font-size: 120%;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; }
  footer nav {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }

/* Section */
section {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-top: 5px;
  font-size: 120%;
  padding: 20px;
  background-color: white; }
  section h1 {
    font-size: 200%; }
  section table {
    font-size: 100%;
    border-top: solid 1px #eeeeff;
    border-bottom: solid 1px #eeeeff;
    margin-bottom: 5px; }
    section table.form {
      width: auto;
      margin: auto; }
    section table tbody tr:nth-child(even) td, section table tbody tr.even td {
      background: #eeeeff; }
    section table th {
      font-size: 80%;
      # margin: 5px 0px;
      padding: 5px; }
    section table td {
      # margin: 10px 0px;
      padding: 0px 5px; }
  section fieldset {
    margin: 0; }
  section a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 5px;
    display: inline-block;
    color: #006600;
    text-decoration: none; }
    section a:visited {
      color: #006600; }
    section a:hover {
      color: white;
      background-color: #006600; }
    section a img {
      margin: 0px; }
  section a.modify {
    color: #660000; }
    section a.modify:visited {
      color: #660000; }
    section a.modify:hover {
      color: white;
      background-color: #660000; }
  section h3, section h4, section h5, section h6, section p {
    margin: 0; }

/* Styles for validation errors, generated automatically by scaffolding */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline; }

.field_with_errors .message {
  color: #c00;
  padding-left: 5px; }

#error_explanation {
  border: 2px solid red;
  background-color: #ccc;
  margin-bottom: 20px; }
  #error_explanation h2 {
    padding: 5px 5px 5px 15px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    list-style: square; }
