body {
  background-color: #000099;
  color: #333333;
  font-size: 11pt; }

.container {
  width: 960px;
  margin-left: 160px;
  padding: 0px; }

img {
  vertical-align: middle; }

input:focus, textarea:focus {
  box-shadow: 0 0 3px 0 red;
  -webkit-box-shadow: 0 0 3px 0 red;
  -moz-box-shadow: 0 0 3px 0 red;
  background-color: #ffffee; }

form.login_form input:focus {
  box-shadow: 0 0 3px 0 blue;
  -webkit-box-shadow: 0 0 3px 0 blue;
  -moz-box-shadow: 0 0 3px 0 blue; }

/* Navigation */
nav {
  float: none;
  background-color: white;
  padding: 0; }
  nav ul {
    white-space-collapse: discard;
    list-style-type: none;
    width: 100%;
    margin: 0; }
    nav ul li {
      display: inline-block;
      margin: 0;
      padding: 0; }
      nav ul li a, nav ul li a:visited {
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        padding: 5px; }
      nav ul li ul {
        display: none; }

/* Header */
body > div.container > header {
  font-size: 12pt;
  text-align: left;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  /* Logo box and menu */ }
  body > div.container > header div#main_logo {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 1; }
  body > div.container > header div#main_logo div#logo_box {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: inline-block;
    padding: 10px;
    opacity: 0.75; }
    body > div.container > header div#main_logo div#logo_box img {
      vertical-align: middle; }
    body > div.container > header div#main_logo div#logo_box:hover {
      opacity: 1; }
  body > div.container > header div#main_logo div#logo_menu {
    display: none;
    width: 150px; }
  body > div.container > header div#main_logo:hover div#logo_menu {
    box-shadow: 0 0 5px 0 #000099;
    -webkit-box-shadow: 0 0 5px 0 #000099;
    -moz-box-shadow: 0 0 5px 0 #000099;
    margin-top: 5px;
    display: block;
    opacity: 0.75; }
    body > div.container > header div#main_logo:hover div#logo_menu:hover {
      opacity: 1; }
  body > div.container > header div#main_logo div#logo_menu nav {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 10pt; }
    body > div.container > header div#main_logo div#logo_menu nav ul {
      margin: 0;
      padding: 0; }
      body > div.container > header div#main_logo div#logo_menu nav ul li {
        display: block; }
        body > div.container > header div#main_logo div#logo_menu nav ul li a, body > div.container > header div#main_logo div#logo_menu nav ul li a:visited {
          margin: 0;
          padding: 5px;
          display: block;
          font-weight: normal; }
      body > div.container > header div#main_logo div#logo_menu nav ul li.logout_item {
        float: none; }
        body > div.container > header div#main_logo div#logo_menu nav ul li.logout_item a.logout_button, body > div.container > header div#main_logo div#logo_menu nav ul li.logout_item a.logout_button:visited {
          border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          margin: 0;
          padding: 5px;
          display: block; }
      body > div.container > header div#main_logo div#logo_menu nav ul li.separator {
        display: none; }
      body > div.container > header div#main_logo div#logo_menu nav ul li.disabled {
        display: none; }
  body > div.container > header nav {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    body > div.container > header nav ul {
      margin-left: 5px;
      margin-right: 0;
      padding: 0; }
      body > div.container > header nav ul li a, body > div.container > header nav ul li a:visited {
        display: inline-block;
        color: #0000cc;
        text-decoration: none; }
        body > div.container > header nav ul li a:hover, body > div.container > header nav ul li a:visited:hover {
          color: white;
          background-color: #0000cc;
          text-decoration: none; }
      body > div.container > header nav ul li.logout_item {
        display: inline;
        float: right; }
        body > div.container > header nav ul li.logout_item a.logout_button, body > div.container > header nav ul li.logout_item a.logout_button:visited {
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          margin: 0 5px;
          padding: 5px 10px;
          color: #006633;
          background-color: yellow;
          text-decoration: none; }
          body > div.container > header nav ul li.logout_item a.logout_button:hover, body > div.container > header nav ul li.logout_item a.logout_button:visited:hover {
            color: yellow;
            background-color: #006633;
            text-decoration: none; }
          body > div.container > header nav ul li.logout_item a.logout_button:active, body > div.container > header nav ul li.logout_item a.logout_button:visited:active {
            background-color: #00994d; }
      body > div.container > header nav ul li.disabled {
        color: #cccccc;
        text-decoration: none; }
        body > div.container > header nav ul li.disabled span.disabled_link {
          display: inline-block;
          color: #cccccc;
          font-weight: bold;
          text-decoration: none;
          padding: 5px; }

/* Footer */
body > div.container > footer {
  font-size: 12pt;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; }
  body > div.container > footer nav {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    body > div.container > footer nav ul {
      padding: 0; }
      body > div.container > footer nav ul a, body > div.container > footer nav ul a:visited {
        color: #0000cc; }
        body > div.container > footer nav ul a:hover, body > div.container > footer nav ul a:visited:hover {
          color: blue;
          text-decoration: underline; }

/* Section */
body > div.container > section {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-top: 5px;
  padding: 10px;
  background-color: white;
  /* Side menu */ }
  body > div.container > section nav#side_menu {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: fixed;
    top: 220px;
    left: 5px;
    width: 150px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 10pt; }
    body > div.container > section nav#side_menu ul {
      margin: 0;
      padding: 0; }
      body > div.container > section nav#side_menu ul li {
        display: block; }
        body > div.container > section nav#side_menu ul li a, body > div.container > section nav#side_menu ul li a:visited {
          display: block;
          font-weight: normal;
          text-decoration: none; }
  body > div.container > section > section {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background: #eeeeff; }
    body > div.container > section > section > section {
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      margin: 5px;
      padding: 5px;
      background: white; }
  body > div.container > section h1, body > div.container > section h2, body > div.container > section h3, body > div.container > section h4, body > div.container > section h5, body > div.container > section h6, body > div.container > section p {
    color: inherit;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0; }
  body > div.container > section > h1 {
    text-align: center;
    font-size: 16pt;
    font-weight: bold; }
  body > div.container > section h2, body > div.container > section > section > h1 {
    font-size: 14pt;
    font-weight: bold; }
  body > div.container > section h3, body > div.container > section h4, body > div.container > section h5, body > div.container > section > section section h1 {
    font-size: 12pt;
    font-weight: bold; }
  body > div.container > section dl.show, body > div.container > section dl.form_fields {
    display: table;
    border: solid 1px #d5d5ff; }
    body > div.container > section dl.show > div, body > div.container > section dl.form_fields > div {
      display: table-row; }
      body > div.container > section dl.show > div > dt, body > div.container > section dl.form_fields > div > dt {
        display: table-cell;
        padding: 0 5px; }
      body > div.container > section dl.show > div > dd, body > div.container > section dl.form_fields > div > dd {
        display: table-cell;
        padding: 0 5px; }
      body > div.container > section dl.show > div:nth-child(odd) > dt, body > div.container > section dl.form_fields > div:nth-child(odd) > dt {
        background: #eeeeff; }
      body > div.container > section dl.show > div:nth-child(odd) > dd, body > div.container > section dl.form_fields > div:nth-child(odd) > dd {
        background: white; }
      body > div.container > section dl.show > div:nth-child(even) > dt, body > div.container > section dl.form_fields > div:nth-child(even) > dt {
        background: white; }
      body > div.container > section dl.show > div:nth-child(even) > dd, body > div.container > section dl.form_fields > div:nth-child(even) > dd {
        background: #eeeeff; }
  body > div.container > section dl.form_fields {
    width: auto;
    margin: auto; }
  body > div.container > section input[type="checkbox"]:not(:checked) + *.checkbox_conditional {
    display: none; }
  body > div.container > section table {
    border: solid 1px #d5d5ff;
    margin-bottom: 12pt;
    width: auto; }
    body > div.container > section table > thead > tr > th {
      background: #d5d5ff;
      text-align: center;
      padding: 0 5px; }
    body > div.container > section table > tbody > tr td, body > div.container > section table > tbody > tr th {
      padding: 0 5px; }
    body > div.container > section table > tbody > tr:nth-child(odd) > td, body > div.container > section table > tbody > tr:nth-child(odd) > th {
      background: white; }
    body > div.container > section table > tbody > tr:nth-child(even) > td, body > div.container > section table > tbody > tr:nth-child(even) > th {
      background: #eeeeff; }
    body > div.container > section table.grid > tbody > tr:nth-child(odd) > td:nth-child(odd), body > div.container > section table.grid > tbody > tr:nth-child(odd) > th:nth-child(odd) {
      background: #eeeeff; }
    body > div.container > section table.grid > tbody > tr:nth-child(odd) > td:nth-child(even), body > div.container > section table.grid > tbody > tr:nth-child(odd) > th:nth-child(even) {
      background: white; }
    body > div.container > section table.grid > tbody > tr:nth-child(even) > td:nth-child(odd), body > div.container > section table.grid > tbody > tr:nth-child(even) > th:nth-child(odd) {
      background: white; }
    body > div.container > section table.grid > tbody > tr:nth-child(even) > td:nth-child(even), body > div.container > section table.grid > tbody > tr:nth-child(even) > th:nth-child(even) {
      background: #eeeeff; }
    body > div.container > section table.records > thead > tr > th, body > div.container > section table.form_fields > thead > tr > th {
      font-size: 10pt; }
      body > div.container > section table.records > thead > tr > th a.current, body > div.container > section table.form_fields > thead > tr > th a.current {
        padding-left: 20px;
        background-repeat: no-repeat;
        background-position: left center; }
        body > div.container > section table.records > thead > tr > th a.current.asc, body > div.container > section table.form_fields > thead > tr > th a.current.asc {
          background-image: url(/images/icons/up_triangle-16.png); }
        body > div.container > section table.records > thead > tr > th a.current.desc, body > div.container > section table.form_fields > thead > tr > th a.current.desc {
          background-image: url(/images/icons/down_triangle-16.png); }
    body > div.container > section table.form_fields {
      width: auto;
      margin: auto; }
    body > div.container > section table caption {
      text-align: center;
      white-space: nowrap; }
  body > div.container > section fieldset {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 0.5em; }
    body > div.container > section fieldset legend {
      margin: 0;
      padding: 0px 5px; }
  body > div.container > section div.link_group {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: dotted 1px; }
  body > div.container > section a, body > div.container > section a:visited {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    background-color: none; }
    body > div.container > section a:hover, body > div.container > section a:visited:hover {
      box-shadow: 0 0 3px 0 white;
      -webkit-box-shadow: 0 0 3px 0 white;
      -moz-box-shadow: 0 0 3px 0 white;
      text-shadow: 0 0 3px white; }
  body > div.container > section a.display, body > div.container > section a.display:visited {
    color: #006600; }
    body > div.container > section a.display:hover, body > div.container > section a.display:visited:hover {
      color: white;
      background-color: #006600;
      text-decoration: none;
      text-shadow: none; }
    body > div.container > section a.display:active, body > div.container > section a.display:visited:active {
      background-color: #009900; }
  body > div.container > section a.modify, body > div.container > section a.modify:visited {
    color: #660000; }
    body > div.container > section a.modify:hover, body > div.container > section a.modify:visited:hover {
      color: white;
      background-color: #660000;
      text-decoration: none;
      text-shadow: none; }
    body > div.container > section a.modify:active, body > div.container > section a.modify:visited:active {
      background-color: #990000; }

/* Styles for validation errors, generated automatically by scaffolding */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 10pt; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline; }

.field_with_errors .message {
  color: #c00;
  padding-left: 5px; }

#error_explanation {
  border: 2px solid red;
  background-color: #ccc;
  margin-bottom: 20px; }
  #error_explanation h2 {
    padding: 5px 5px 5px 15px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    list-style: square; }
