<%# Locals:
      models1:
      models2:
      association_attribute1:
      key1:
      key2:
      description1:
      description2:
-%>

<table class="grid">
  <colgroup><col /></colgroup>
  <colgroup>
    <% models2.size.times do %><col /><% end %>
  </colgroup>
  <thead>
    <tr>
      <th class="empty"></th>
      <% models2.each do |mod2| %>
        <th>
          <%= link_to mod2.public_send(key2), mod2,
                      :title => mod2.public_send(description2),
                      :class => 'display resource' %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% models1.each do |mod1| %>
      <tr>
        <th scope=row>
          <%= link_to mod1.public_send(key1), mod1,
                      :title => mod1.public_send(description1),
                      :class => 'display resource' %>
        </th>
        <% models2.each do |mod2| %>
          <td class='boolean'>
            <%= boolean_to_picto(
                    mod1.public_send(association_attribute1).include?(mod2),
                    size=2) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
