-# Locals:
-#   models1:
-#   models2:
-#   association_attribute1:
-#   key1:
-#   key2:
-#   description1:
-#   description2:

%table.grid
  %colgroup
    %col
  %colgroup
    - models2.size.times do
      %col
  %thead
    %tr
      %th.empty
      - models2.each do |mod2|
        %th
          = link_to mod2.public_send(key2),
                    { :controller => mod2.controller_path,
                      :action     => :show,
                      :id         => mod2 },
                    :title => mod2.public_send(description2),
                    :class => 'display resource'
  %tbody
    - models1.each do |mod1|
      %tr
        %th{:scope => "row"}
          = link_to mod1.public_send(key1),
                    { :controller => mod1.controller_path,
                      :action     => :show,
                      :id         => mod1 },
                    :title => mod1.public_send(description1),
                    :class => 'display resource'
        - models2.each do |mod2|
          %td.boolean
            = boolean_to_picto(                                          |
                mod1.public_send(association_attribute1).include?(mod2), |
                size=2)                                                  |
