-# Locals:
-#   attributes:
-#   column_types:
-#   column_headers:

- attributes.each do |attr|
  - case column_types[attr]
  - when :boolean, :delegated_boolean, :virtual_boolean
    %th.boolean
      = column_headers[attr]
  - when :integer, :delegated_integer, :virtual_integer
    %th.number
      = column_headers[attr]
  - else
    %th
      = column_headers[attr]
