-# Locals:
-#   models:
-#   attributes:
-#   column_types (optional):
-#   column_headers (optional):
-#   html_table_id:
-#   klass (optional):

- unless local_assigns.key? :klass
  - klass = models.klass

- unless local_assigns.key? :column_types
  -# It is assumed here that PseudoColumns module is included
  - column_types = klass.column_db_types

- unless local_assigns.key? :column_headers
  -# It is assumed here that AbstractHumanizedModel module is included
  - column_headers = klass.human_column_headers

%table.records{ :id => html_table_id }
  %colgroup.attributes
    - attributes.size.times do
      %col
  %colgroup
    %col
    %col
  %thead
    %tr
      - attributes.each do |attr|

        = render 'shared/tables/sorting_header',
                 :attribute     => attr,
                 :column_type   => column_types[attr],
                 :column_header => column_headers[attr],
                 :html_table_id => html_table_id

      %th.empty
      %th.empty

  = render 'shared/tables/index_body',
           :models       => models,
           :attributes   => attributes,
           :column_types => column_types
