-# Locals:
-#   models:
-#   attributes:
-#   column_types:

%tbody
  - if models.blank?
    %tr
      = content_tag :td, '∅', :colspan => attributes.size,
                              :class   => 'nothing'
      %td.empty
      %td.empty
    %tr
  - else
    - models.each do |mod|
      %tr

        = render 'shared/tables/attributes_in_index',
                 :model        => mod,
                 :attributes   => attributes,
                 :column_types => column_types

        %td.operation
          = link_to edit_pictogram(2),
                    { :controller => mod.controller_path,
                      :action     => :edit,
                      :id         => mod },
                    :title => t('actions.update'),
                    :class => 'modify resource'

        %td.operation
          = link_to delete_pictogram(2),
                    { :controller => mod.controller_path,
                      :action     => :destroy,
                      :id         => mod },
                    :confirm => t('questions.are_you_sure?'),
                    :method  => :delete,
                    :title   => t('actions.delete'),
                    :class   => 'modify resource'
