<%# Locals:
      models:
      attributes:
      column_types:
      controller_name:
-%>

<% controller_name ||= controller.controller_name %>

<tbody>
  <% if models.blank? %>
    <tr>
      <%= content_tag :td, '∅', :colspan => attributes.size,
                                :class   => 'nothing' %>
      <td class="empty"></td>
      <td class="empty"></td>
    <tr>
  <% else %>
    <% models.each do |mod| %>
      <tr>

        <%= render 'shared/tables/attributes_in_index',
                   :model        => mod,
                   :attributes   => attributes,
                   :column_types => column_types %>

        <td class="operation">
          <%= link_to edit_pictogram(2), { :action => :edit, :id => mod },
                      :title => t('actions.update'),
                      :class => 'modify resource' %>
        </td>

        <td class="operation">
          <%= link_to delete_pictogram(2), { :action => :destroy, :id => mod },
                      :confirm => t('questions.are_you_sure?'),
                      :method  => :delete,
                      :title   => t('actions.delete'),
                      :class   => 'modify resource' %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
