-# Locals:
-#   collection:
-#   attributes:
-#   column_types:

%tbody
  - if collection.blank?
    %tr
      %td.nothing{ :colspan => attributes.size }
        ∅
    %tr
  - else
    - collection.each do |obj|
      %tr

        = render 'shared/tables/attributes_in_index',
                 :object       => obj,
                 :attributes   => attributes,
                 :column_types => column_types
