-# Locals:
-#   models:
-#   attributes:
-#   column_types:
-#   column_headers:
-#   resources_controller_name:
-#   html_table_id:

= content_tag :table, :id => html_table_id, :class => 'records' do
  %colgroup.attributes
    - attributes.size.times do
      %col
  %thead
    %tr
      - attributes.each do |attr|

        = render 'shared/tables/sorting_header',
                 :attribute     => attr,
                 :column_type   => column_types[attr],
                 :column_header => column_headers[attr],
                 :html_table_id => html_table_id

  = render 'shared/tables/simple_index_body',
           :models          => models,
           :attributes      => attributes,
           :column_types    => column_types,
           :controller_name => resources_controller_name
