-# Locals:
-#   attribute:
-#   column_type:
-#   column_header:
-#   html_table_id:

- case column_type
- when :boolean
  %th.boolean
    = sortable html_table_id, attribute, column_header
- when :integer
  %th.number
    = sortable html_table_id, attribute, column_header
- else
  %th
    = sortable html_table_id, attribute, column_header
