-# Locals:
-#   attributes:
-#   column_types:
-#   column_headers:
-#   html_table_id:

- attributes.each do |attr|
  - case column_types[attr]
  - when :boolean, :delegated_boolean, :virtual_boolean
    %th.boolean
      = sortable html_table_id, attr, column_headers[attr]
  - when :integer, :delegated_integer, :virtual_integer
    %th.number
      = sortable html_table_id, attr, column_headers[attr]
  - else
    %th
      = sortable html_table_id, attr, column_headers[attr]
