<tr>

  <%= render :partial => 'shared/model_attributes_in_table',
             :object => model,
             :as => :model,
             :locals => { :attributes          => attributes,
                          :column_types_o_hash => column_types_o_hash } %>

  <td class="operation">
    <%= link_to edit_pictogram(2),
                edit_path_helper_method.call(model),
                :title => t('actions.update'),
                :class => 'modify resource' %>
  </td>

  <td class="operation">
    <%= link_to delete_pictogram(2),
                model,
                :confirm => t('questions.are_you_sure?'),
                :method  => :delete,
                :title   => t('actions.delete'),
                :class   => 'modify resource' %>
  </td>
</tr>
