= form_for @event, :as => :event, :url => event_path(@event),
                   :html => { :id => 'form' } do |f|

  = render 'shared/error_messages/validation', :target => @event

  %fieldset
    %dl.form_fields
      - @attribute_names.each do |attr_name|

        = render 'shared/forms/attribute',
                 :form_builder => f,
                 :attribute    => attr_name

  .actions
    = f.submit
