= form_for @event, :as => :event, :url => event_path(@event),
                   :html => { :id => 'form' } do |f|

  = render 'shared/error_messages/validation', :target => @event

  %fieldset
    %dl.form_fields
      - @attributes.each do |attribute|

        = render 'shared/forms/attribute',
                 :form_builder => f,
                 :attribute    => attribute,
                 :column_type  => @column_types[attribute]

  .actions
    = f.submit
