%h1= t '.header'

= render 'new_form'

%footer
  = link_to list_all_pictogram(3) + ' ' + t('events.index.header'),
            events_path,
            :class => 'display resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to list_all_pictogram + ' ' + t('events.index.title'),
              events_path,
              :class => 'display resource'
