<table class="grid">
  <colgroup><col /></colgroup>
  <colgroup>
    <% @users.size.times do %><col /><% end %>
  </colgroup>
  <thead>
    <tr>
      <th class='empty'></th>
      <% @users.each do |user| %>
        <th>
          <%= link_to user.username,
                      user,
                      :title => user.full_name,
                      :class => 'display resource' %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @known_ips.each do |known_ip| %>
      <tr>
        <th scope=row>
          <%= link_to known_ip.ip,
                      known_ip,
                      :title => known_ip.description,
                      :class => 'display resource' %>
        </th>
        <% @users.each do |user| %>
          <td class='boolean'>
            <%= boolean_to_picto(known_ip.safe_users.include?(user)) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
