%h1= t '.header'

= render 'form'

%footer
  = link_to list_all_pictogram(3) + ' ' + t('admin.safe_user_i_ps.index.header'),
            safe_user_ips_path,
            :title => t('actions.read'),
            :class => 'display resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to list_all_pictogram + ' ' + t('admin.safe_user_i_ps.index.title'),
              safe_user_ips_path,
              :title => t('actions.read'),
              :class => 'display resource'
