<% content_for :side_menu_list_items do %>
  <li>
    <%= link_to t('admin.safe_user_i_ps.links.update_all'),
                edit_all_admin_safe_user_ips_path,
                :title => t('actions.update'),
                :class => 'modify resource' %>
  </li>
<% end %>

<h1><%= t '.header' %></h1>

<%= render 'index_table' %>

<footer>
  <%= link_to edit_pictogram(2)+' '+t('admin.safe_user_i_ps.links.update_all'),
              edit_all_admin_safe_user_ips_path,
              :title  => t('actions.update'),
              :class => 'modify resource' %>
</footer>
