%h1= t '.header'
- @lesson_supervision_form_url = lesson_supervisions_path

= render 'new_form'

%footer
  = link_to list_all_pictogram(3) + ' ' + t('lesson_supervisions.index.header'),
            lesson_supervisions_path,
            :class => 'display resource'
  - content_for :side_menu_list_items do
    %li
      = link_to list_all_pictogram + ' ' + t('lesson_supervisions.index.title'),
                lesson_supervisions_path,
                :class => 'display resource'
