= form_for @weekly_event, :as  => :weekly_event,
                          :url => @weekly_event_form_url do |f|

  = render 'shared/error_messages/validation', :target => @weekly_event

  %dl.form_fields
    - @attributes.each do |attribute|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute,
               :column_type  => @column_types[attribute]

  .actions
    = f.submit
