= form_for @ticket_book, :as  => :ticket_book,
                         :url => @ticket_book_form_url do |f|

  = render 'shared/error_messages/validation', :target => @ticket_book

  %dl.form_fields
    - @attribute_names.each do |attr_name|

      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attr_name

  .actions
    = f.submit
