= form_for @ticket_book, :as  => :ticket_book,
                         :url => @ticket_book_form_url do |f|
  = render 'shared/error_messages/validation', :target => @ticket_book
  %dl.form_fields
    - @attributes.each do |attribute|
      = render 'shared/forms/attribute',
               :form_builder => f,
               :attribute    => attribute,
               :column_type  => @column_types[attribute]
  .actions
    = f.submit
