%hgroup
  %h1= t '.header'
  %h2#ticket_books_count
    - if @filtering_values.blank?
      = t '.count_total', :count => TicketBook.count
    - else
      = t '.count_filtered', :count => @filtered_ticket_books_count,
                             :total => TicketBook.count
#ticket_books_table

  = render 'shared/tables/filtered_index',
           :collection       => @ticket_books,
           :attributes       => @attribute_names,
           :html_table_id    => :ticket_books,
           :filtering_values => @filtering_values

%footer
