input:not([type="submit"]), textarea {
  background-color: $input-bg-color;

  &:focus {
    @include box-shadow(0 0 3px 0 $focus-input-glow-color);
    background-color: $focus-input-bg-color;
    color: $focus-input-text-color;
  }
}

input[type="number"], select.number {
  text-align: right;
}

input[type="submit"].easy {
  display: inline-block;
  border: none;
  @include appearance(button);
  @include border-radius(10px);
  padding: 20px;
  font-size: $tabs-font-size;
  font-weight: bold;
  color: $common-navigation-link-color;

  &:hover {
    color: $section-bg-color;
    background-color: $common-navigation-link-color;
  }
}

input[type="checkbox"]:not(:checked) + *.checkbox_conditional {
  display: none;
}

fieldset {
  @include border-radius(5px);
  margin: 0.5em 0;
  padding: 10px;

  legend {
    margin: 0 10px;
    padding: 0px 5px;
  }
}

.form_fields {
  display: table;
  border: solid 1px $table-border-color;

  width: auto;
  margin: 5px auto;
}

/* Log-in form */

form#login_form {
  text-align: center;

  input:focus {
    @include box-shadow(0 0 3px 0 $login_form-focus-glow-color);
  }

  fieldset {
    display: inline-block;
    text-align: left;

    legend {
      display: inline;
      text-align: center;
    }
  }
}
