/* Generic navigation */

nav {
  a, a:visited {
    display: inline-block;
    margin: 0;
    padding: 5px;
    color: $common-navigation-link-color;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: $section-bg-color;
    background-color: $common-navigation-link-color;
    text-decoration: none;
  }

  ul {
    li {
      ul {
        display: none;
      }
    }
  }
}

/* Header navigation */

div.container > header {
  nav.main_menu {
    display: inline-block;

    ul {
      margin: 0 5px;
      padding: 0;

      li {
        display: inline-block;
        font-weight: bold;

        a, a:visited {
          margin: 0;
          padding: 5px;
          color: $common-navigation-link-color;
          font-weight: bold;
          text-decoration: none;
        }

        a:hover {
          color: $section-bg-color;
          background-color: $common-navigation-link-color;
          text-decoration: none;
        }
      }
    }
  }

  & > nav.main_menu {
    ul {
      hr + li:before {
        content: "|";
      }

      li.disabled {
        color: $disabled-navigation-link-color;
        text-decoration: none;

        span.disabled_link {
          display: inline-block;
          color: $disabled-navigation-link-color;
          padding: 5px;
        }
      }

      hr {
        display: none;
      }
    }
  }

  /* Logo menu */

  div#main_logo:hover div#logo_menu {
    nav {
      background-color: $section-bg-color
    }
  }

  div#main_logo div#logo_menu nav {
    @include box-shadow(0 0 5px 0 $body-bg-color);
    margin: 0;
    padding: 0;
    font-size: $body-font-size;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: block;

        a, a:visited {
          display: block;
          margin: 0;
          padding: 5px;
        }
      }

      hr {
        margin: 0;
      }

      li.disabled {
        display: none;
      }
    }
  }
}

/* Tabs */

// UL as tabs
@mixin tabs {
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  & > li {
    @include tab;
  }
}

@mixin tab {
  display: inline-block;

  & > a, & > button {
    @include tab-element;

    &:hover {
      color: White;
      background-color: Blue;
      text-decoration: none;
    }
  }

  & > span {
    @include tab-element;
    border-bottom: none;
  }
}

@mixin tab-element {
  display: inline-block;
  margin: 0 0 5px;
  padding: 5px;
  font-weight: bold;
  font-family: $body-font-family;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  @include border-top-radius(10px);
  border: solid 1px $table-border-color;
}

nav.tabs { // TODO: simplify
  display: block;
  margin: 5px 0;

  ul {
    @include tabs;

    li {
      font-weight: bold;
      line-height: 2;
      font-size: $tabs-font-size;
    }

    li.current {
      span {
        display: inline-block;
        margin: 0;
        padding: 5px;
        background-color: $table-head-bg-color;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        vertical-align: baseline;
      }
    }
  }
}

/* Pagination */

nav.pagination {
  margin: 0 -5px;
  padding: 0;
  font-size: $body-font-size;
  text-align: center;

  & > span {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;

    a, a:visited {
      margin: 0 -10px;
      padding: 0 10px;
      color: $common-navigation-link-color;
      text-decoration: none;
    }

    a:hover {
      border-radius: 3px;
      text-shadow: none;
      color: $section-bg-color;
      background-color: $common-navigation-link-color;
      text-decoration: none;
    }
  }
}

/* Filtering */

nav.filtering_prefixes {
  text-align: center;
  ul {
    li {
      display: inline-block;
      margin: 0 2px;
      font-weight: bold;

      button {
        font-size: $body-font-size;
        font-weight: bold;
      }
    }
  }
}

/* Side menu */

nav#side_menu {
  border-radius: 5px;
  position: fixed;
  top: 110px;
  left: 5px;
  width: 150px;
  margin: 0;
  padding: 0;
  background-color: $section-bg-color;
  font-size: $side-menu-font-size;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: block;

      a, a:visited {
        display: block;
        text-decoration: none;
      }
    }
  }
}
