/* Colors and lengths: */
@import "application_settings";

/**********/
/* Style: */
/**********/

body {
  background-color: $body-bg-color;
  color: $body-text-color;
  font-size: $body-font-size;
  # font-style: normal;
  # font-variant: normal;
  # font-family: 'andale mono', 'lucida console', monospace;
  font-family: "Helvetica Narrow", Helvetica, sans-serif;
  # font-family: sans-serif;
  line-height: 1.5;
}

.container {
  width: 960px;
  margin-left: 160px;
  margin-botton: auto;
}

img {
  vertical-align: middle;
}

span.pictogram {
  display: inline-block;
  font-weight: bold;
  padding: 0;
  margin: -100px 0;
  vertical-align: middle;
  color: inherit;
}

span.label_marks {
  color: $label_marks-color;
}

input:not([type="submit"]), textarea {
  background-color: $input-bg-color;

  &:focus {
    @include box-shadow(0, 0, 3px, 0, $focus-input-glow-color);
    background-color: $focus-input-bg-color;
    color: $focus-input-text-color;
  }
}

input[type="number"], select.number {
  text-align: right;
}

div#welcome_logo {
  text-align: center;
}

ul.compact {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}

/* Links for developpers */

aside#developper_links {
  position: absolute;
  top: 5px;
  left: 1125px;

  a {
    position: absolute;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  a#ruby {
    top: 0;
    left: 0;
  }

  a#rails {
    top: 0;
    left: 61px;
  }

  a#source_code {
    @include border-radius(5px);
    top: 69px;
    left: 0;
    display: block;
    width: 111px;
    height: 31px;
    line-height: 31px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    color: Lime;
    background-color: LightSlateGray;
    text-decoration: none;
    font-size: $main-menu-font-size;
    font-weight: normal;

    &:hover {
      text-decoration: none;
    }
  }
}

/* Generic navigation */

nav {
  a, a:visited {
    display: inline-block;
    margin: 0;
    padding: 5px;
    color: $common-navigation-link-color;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: $section-bg-color;
    background-color: $common-navigation-link-color;
    text-decoration: none;
  }

  ul {
    li {
      ul {
        display: none;
      }
    }
  }
}

/* Log-in form */

form#login_form {
  text-align: center;

  input:focus {
    @include box-shadow(0, 0, 3px, 0, $login_form-focus-glow-color);
  }

  fieldset {
    display: inline-block;
    text-align: left;

    legend {
      display: inline;
      text-align: center;
    }
  }
}

/* Header */

body > div.container > header {
  @include border-radius(10px);
  background-color: $section-bg-color;
  font-size: $main-menu-font-size;
  text-align: left;
  margin: 5px auto;

  nav.main_menu {
    display: inline-block;

    ul {
      margin: 0 5px;
      padding: 0;

      li {
        display: inline-block;
        font-weight: bold;

        a, a:visited {
          margin: 0;
          padding: 5px;
          color: $common-navigation-link-color;
          font-weight: bold;
          text-decoration: none;
        }

        a:hover {
          color: $section-bg-color;
          background-color: $common-navigation-link-color;
          text-decoration: none;
        }
      }
    }
  }

  & > nav.main_menu {
    ul {
      hr + li:before {
        content: "|";
      }

      li.disabled {
        color: $disabled-navigation-link-color;
        text-decoration: none;

        span.disabled_link {
          display: inline-block;
          color: $disabled-navigation-link-color;
          padding: 5px;
        }
      }

      hr {
        display: none;
      }
    }
  }

  a.logout_button, a.logout_button:visited {
    @include border-radius(10px);
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    color: $logout-navigation-link-color;
    background-color: $logout-navigation-link-bg-color;
    font-weight: bold;
    text-decoration: none;
    float: right;

    &:hover {
      color: $logout-navigation-link-bg-color;
      background-color: $logout-navigation-link-color;
      text-decoration: none;
    }

    &:active {
      background-color: lighten($logout-navigation-link-color, 10%);
    }
  }

  /* Logo box and menu */

  div#main_logo {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 1;
  }

  div#main_logo div#logo_box {
    @include border-radius(10px);
    display: inline-block;
    padding: 10px;
    opacity: 0.75;

    img {
      vertical-align: middle;
    }

    &:hover {
      opacity: 1;
    }
  }

  div#main_logo div#logo_menu {
    display: none;
  }

  div#main_logo:hover div#logo_menu {
    display: block;
    position: fixed;
    top: 0;
    left: 155px;
    padding: 5px;
    background-color: transparent;
    opacity: 0.95;

    &:hover {
      opacity: 1;
    }

    nav {
      background-color: $section-bg-color
    }
  }

  div#main_logo div#logo_menu nav {
    @include box-shadow(0, 0, 5px, 0, $body-bg-color);
    margin: 0;
    padding: 0;
    font-size: $body-font-size;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: block;

        a, a:visited {
          display: block;
          margin: 0;
          padding: 5px;
        }
      }

      hr {
        margin: 0;
      }

      li.disabled {
        display: none;
      }
    }
  }
}

/* Footer */

body > div.container > footer {
  @include border-radius(10px);
  background-color: $section-bg-color;
  font-size: $main-menu-font-size;
  text-align: center;
  margin: 5px auto;

  ul {
    margin: 0;
    padding: 0;
    font-weight: bold;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      a, a:visited {
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        color: $common-navigation-link-color;

        &:hover {
          color: $common-navigation-link-hover-color;
          text-decoration: underline;
        }
      }

      ul {
        display: none;
      }
    }
  }
}

/* Side menu */

nav#side_menu {
  @include border-radius(5px);
  position: fixed;
  top: 110px;
  left: 5px;
  width: 150px;
  margin: 0;
  padding: 0;
  background-color: $section-bg-color;
  font-size: $side-menu-font-size;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: block;

      a, a:visited {
        display: block;
        text-decoration: none;
      }
    }
  }
}

/* Flash messages */

body > div.container section div.flash {
  a {
    margin: 0;
    padding: 0;
  }
}

/* Tabs */

body > div.container section nav.tabs {
  display: block;
  font-size: $tabs-font-size;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-weight: bold;

      a, a:visited {
        margin: 0;
        padding: 5px;
        color: $common-navigation-link-color;
        font-weight: bold;
        text-decoration: none;
      }

      a:hover {
        text-shadow: none;
        color: $section-bg-color;
        background-color: $common-navigation-link-color;
        text-decoration: none;
      }
    }

    li.active {
      span {
        display: inline-block;
        padding: 5px;
        background-color: $table-head-bg-color;
      }
    }
  }
}

/* Sections */

body > div.container > section {
  @include border-radius(10px);
  background-color: $section-bg-color;
  padding: 10px;

  section {
    @include border-radius(5px);
    margin: 5px 0px;

    section {
      margin: 5px;
    }
  }

  section {
    border: solid 5px $alt-section-bg-color;

    section {
      border: solid 3px $alt-section-bg-color;

      section {
        border: solid 1px $alt-section-bg-color;
      }
    }
  }
}

body div.container section {
  h1 {
    color: inherit;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 5px;
  }

  h2, h3, h4, h5, h6, p {
    color: inherit;
    background-color: $alt-section-bg-color;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  hgroup h1 + h2 {
    background-color: inherit;
  }

  h2, h3, h4, h5, h6 {
    background-color: $alt-section-bg-color;
  }

  h1 {
    text-align: center;
    font-size: $h1-font-size;
    font-weight: bold;
  }

  h2 {
    font-size: $h2-font-size;
    font-weight: bold;
  }

  h3, h4, h5 {
    font-size: $h3-font-size;
    font-weight: bold;
  }

  p {
    padding: 5px;
    background-color: $table-data-bg-color;
  }

  dl.show, dl.form_fields {
    display: table;
    border: solid 1px $table-border-color;
  }

  dl.show {
    margin: 0;
  }

  dl.form_fields {
    margin: 0 auto;
  }

  dl.form_fields, dl.show {
    p.item, div.item {
      display: table-row;

      &.caption {
        display: table-caption;
        text-align: center;
      }

      dt {
        display: table-cell;
        padding: 0 5px;
      }

      dd {
        display: table-cell;
        padding: 0 5px;
        color: $data-color;
      }

      dd.long_text {
        vertical-align: top;
      }

      &:nth-of-type(odd) {
        dt {
          background-color: $alt-table-head-bg-color;
        }

        dd {
          background-color: $table-data-bg-color;
        }
      }

      &:nth-of-type(even) {
        dt {
          background-color: $table-head-bg-color;
        }

        dd {
          background-color: $alt-table-data-bg-color;
        }
      }
    }
  }

  input[type="checkbox"]:not(:checked) + *.checkbox_conditional {
    display: none;
  }

  table {
    border-collapse: collapse;
    border: solid 1px $table-border-color;
    width: auto;
    margin: 0;

    th, td {
      padding: 0 5px;

      a.resource, a.sort {
        display: block;
        margin: 0 -5px;
      }
    }

    td.number, td.date {
      text-align: right;
    }

    thead, tfoot {
      font-style: normal;
      border: solid 1px $table-border-color;

      th, td {
        border: solid 1px $table-border-color;
      }

      th {
        background-color: $table-head-bg-color;
      }

      th, td.boolean:not(.field) {
        text-align: center;
      }

      td {
        background-color: $alt-table-head-bg-color;
      }

      td.actions {
        border-top: solid 1px $table-border-color;
      }

      th:empty, td:empty {
        border: none;

        &.empty {
          background-color: $section-bg-color;
        }
      }
    }

    thead:not(:hover), tfoot:not(:hover) { /* does not work! */
      tr.form_fields, tr.form_actions {
        # display: none;
        # visibility: collapse;

        # transition: all 2s ease 0s;
        # -moz-transition: all 2s ease 0s; /* Firefox 4 */
        # -webkit-transition: all 2s ease 0s; /* Safari and Chrome */
        # -o-transition: all 2s ease 0s;
      }
    }

    tbody tr {
      td.boolean, th.boolean {
        text-align: center;
      }

      td.number, td.date {
        text-align: rigth;
      }

      &:nth-of-type(odd) {
        td, th {
          background-color: $table-data-bg-color;
        }
      }

      &:nth-of-type(even) {
        td, th {
          background-color: $alt-table-data-bg-color;
        }
      }
    }

    caption {
      text-align: center;
      white-space: nowrap;
    }
  }

  table.records {
    colgroup.attributes {
      border: solid 1px $table-border-color;
    }

    thead, tfoot {
      font-size: $table-header-font-size;

      th:not(:empty), td:not(:empty) {
        font-size: $table-header-font-size;
        border-left: solid 1px $table-border-color;
        border-right: solid 1px $table-border-color;
      }
    }

    tbody tr {
      &:nth-of-type(odd) {
        td.operation {
          background-color: $alt-table-head-bg-color;
        }
      }

      &:nth-of-type(even) {
        td.operation {
          background-color: $table-head-bg-color;
        }
      }

      td.nothing {
        text-align: center;
      }
    }
  }

  table.form_fields {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  table.grid {
    col {
      border: solid 1px $table-border-color;
    }

    thead th {
      border: solid 1px $table-border-color;
    }

    tbody tr:nth-of-type(odd) th {
      background-color: $alt-table-head-bg-color;
    }

    tbody tr:nth-of-type(even) th {
      background-color: $table-head-bg-color;
    }
  }

  table.filtered {
    @include box-shadow(0, 0, 3px, 0, $emphasis-glow-color);

    thead tr td.filtering_value, tfoot tr td.filtering_value {
      font-size: $body-font-size;
      color: $emphasis-text-color;
      background-color: $section-bg-color;
    }
  }

  fieldset {
    @include border-radius(5px);
    margin: 0.5em 0;
    padding: 10px;

    legend {
      margin: 0 10px;
      padding: 0px 5px;
    }
  }

  *.actions {
    text-align: center;
  }

  div.link_group {
    @include border-radius(5px);
    border: dotted 1px;
  }

  a, a:visited {
    text-decoration: none;
    padding: 0 5px;
    color: $common-link-color;
    font-weight: bold;
  }

  a:hover {
    text-shadow: 0 0 3px $section-bg-color;
    text-decoration: none;
    color: $common-link-hover-color;
  }

  nav.pagination {
    margin: 0 -5px;
    padding: 0;
    font-size: $body-font-size;

    span {
      display: inline-block;
      margin: 0 10px;

      &.page {
        font-weight: bold;
      }

      a, a:visited {
        margin: 0 -10px;
        padding: 0 10px;
        color: $common-navigation-link-color;
        text-decoration: none;
      }

      a:hover {
        @include border-radius(3px);
        text-shadow: none;
        color: $section-bg-color;
        background-color: $common-navigation-link-color;
        text-decoration: none;
      }
    }
  }

  td nav.pagination {
    text-align: center;
  }

  a.resource, a.resource:visited {
    @include border-radius(5px);
    display: inline-block;
    padding: 5px;
    margin: 0;

    &:hover {
      color: $section-bg-color;
      background-color: $common-navigation-link-color;
      text-shadow: none;
    }
  }

  a.display, a.display:visited {
    color: $view-link-color;

    &:hover {
      background-color: $view-link-color;
    }

    &:active {
      background-color: lighten($view-link-color, 10%);
    }
  }

  a.add, a.add:visited {
    color: $add-link-color;

    &:hover {
      background-color: $add-link-color;
    }

    &:active {
      background-color: lighten($add-link-color, 10%);
    }
  }

  a.modify, a.modify:visited {
    color: $modify-link-color;

    &:hover {
      background-color: $modify-link-color;
    }

    &:active {
      background-color: lighten($modify-link-color, 10%);
    }
  }
}

/* Styles for validation errors, use automatically generated classes and ids */

pre {
  background-color: WhiteSmoke;
  padding: 10px;
  font-size: 10pt;
}

#notice {
  color: Green;
}

#error_explanation {
  border: 2px solid DarkRed;
  background-color: LightYellow;
  margin-bottom: 20px;

  h2 {
    padding: 5px 5px 5px 15px;
    background-color: DarkRed;
    color: White;
  }

  ul {
    margin-bottom: 0;

    li {
      list-style: square;
    }
  }
}

div.field_with_errors {
  display: inline;

  label {
    color: Red;
    text-decoration: underline;
  }

  .message {
    color: DarkRed;
    padding-left: 5px;
  }
}
