  <%= field_set_tag t('admin.users.edit.captions.comments') do %>
    <dl class="form_fields">
      <div>
        <dt>
          <%= f.label :comments, t('field_labels.comments') %>
        </dt>
        <dd class="long_text"><%= f.text_area :comments, :maxlength => 1000 %></dd>
      </div>
    </dl>
  <% end %>
