<tr>

  <%= yield %>

  <td class="operation">
    <%= link_to edit_pictogram, edit_admin_user_path(user),
                :title => t('actions.update'),
                :class => 'modify' %>
  </td>

  <td class="operation">
    <%= link_to delete_pictogram, admin_user_path(user),
                :confirm => t("questions.are_you_sure?"),
                :method  => :delete,
                :title   => t('actions.delete'),
                :class   => 'modify' %>
  </td>
</tr>
