<tr>
  <th scope=row>
    <%= link_to user.username, user,
                :title => t('actions.read'),
                :class => 'display' %>
  </th>

  <% displayed_columns[1..-1].each do |attribute| %>
    <%- if Admin::User.columns_hash[attribute.to_s].type == :boolean -%>
      <td class="boolean">
        <%= boolean_to_picto(user.public_send(attribute)) %>
      </td>
    <%- else -%>
      <td><%= user.public_send(attribute) %></td>
    <%- end -%>
  <% end %>
</tr>
