<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= @user.errors.count == 1 ?
              t('activerecord.errors.template.header.one',
                :model => Admin::User.human_name) :
              t('activerecord.errors.template.header.other',
                :count => @user.errors.count,
                :model => Admin::User.human_name) %>
    </h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
