<h1><%= t '.header', :username => @user.username %></h1>

<%= render 'edit_form' %>

<hr/>

<%= link_to show_icon(2)+t('.links.show'), @user %>
<%= link_to list_all_icon(2)+t('admin.users.links.show_all'), admin_users_path %>
