<% content_for :side_menu_list_items do %>
  <li><%= link_to t('admin.users.links.new'), new_admin_user_path,
                  :title => t('actions.create'),
                  :class => 'add' %></li>
<% end %>

<h1><%= t '.header' %></h1>

<%= render 'index_table' %>

<footer>
  <%= link_to add_pictogram+' '+t('admin.users.links.new'), new_admin_user_path,
              :title => t('actions.create'),
              :class => 'add' %>
</footer>
