<h1><%= t '.header' %></h1>

<%= render 'new_form' %>

<footer>
  <%= link_to list_all_pictogram(3)+' '+t('admin.users.index.header'),
              admin_users_path,
              :class => 'display resource' %>
</footer>

<%# End of the main body of the view %>

<% content_for :side_menu_list_items do %>
  <li><%= link_to list_all_pictogram+' '+t('admin.users.index.title'),
                  admin_users_path,
                  :class => 'display resource' %></li>
<% end %>
