%section#membership_purchases
  %h2= t 'register.choose_person.subheaders.recent_membership_purchases'
  %ol
    - @recent_membership_purchases.each do |p|
      %li= p.membership_type

  %span.actions
    %button{ :name  => 'button',
             :type  => 'submit',
             :value => 'hide_recent_membership_purchases' }
      = t('buttons.hide_recent_membership_purchases')
