%section#ticket_purchases
  %h2= t 'register.choose_person.subheaders.recent_ticket_purchases'
  %ol
    - @recent_ticket_purchases.each do |p|
      %li= p.tickets_number

  %span.actions
    %button{ :name  => 'button',
             :type  => 'submit',
             :value => 'hide_recent_ticket_purchases' }
      = t('buttons.hide_recent_ticket_purchases')
