-# Locals:
-#   collection:
-#   name_method:
-#   i18n_controller_scope:
-#   index_path:
-#   new_path:
-#   show_path_method:

%section

  %h3
    = link_to list_all_pictogram(2) +                                     |
                ' ' + t('index.title', :scope => i18n_controller_scope ), |
              index_path,                                                 |
              :class => 'display resource'                                |

  - if collection.is_a?(ActiveRecord::Relation) || collection.is_a?(Enumerable)
    %ul.compact
      - collection.each do |obj|
        %li
          = link_to show_pictogram(2) + ' ' + obj.public_send(name_method),
                    show_path_method.call(obj),
                    :class => 'display resource'
  - else
    %p= collection.to_s

  %footer
    = link_to add_pictogram(2) +                                         |
                ' ' + t('new.header', :scope => i18n_controller_scope ), |
              new_path,                                                  |
              :title => t('actions.create'),                             |
              :class => 'add resource'                                   |
