<footer>
  <nav class="round">
    <ul>
      <li><a href="http://www.tangueando-toulouse.fr/">
      <%= t('application_layout.navigation_links.tangueando_site') %></a></li>
    </ul>
  </nav>
</footer>
