<footer>
  <ul>
    <li>
      <%= link_to t('external_links.tangueando_site'),
                  'http://www.tangueando-toulouse.fr/',
                  :target => '_blank',
                  :rel    => 'external' %>
    </li>
  </ul>
</footer>
