<footer>
  <ul>
    <li>
      <a href="http://www.tangueando-toulouse.fr/" target="_blank" rel="external">
        <%= t('external_links.tangueando_site') %>
      </a>
    </li>
  </ul>
</footer>
