<div id="main_logo">
  <% if current_user %>
    <%= content_tag(:div, :id => "logo_box", :style => "background-color:#{color_for_user_permissions(current_user)}") do %>
      <%= link_to logo, path_logo_links_to(current_user) %>
    <% end %>
    <div id="logo_menu">
      <%= render 'layouts/main_menu' %>
    </div>
  <% end %>
</div>
