    <div id="main_logo">
      <div id="logo_box" style="background-color:<%= color_for_user_permissions(current_user) %>;" >
        <%= link_to logo, path_logo_links_to(current_user) %>
      </div>
      <div id="logo_menu">
        <%= render 'layouts/main_menu' %>
      </div>
    </div>