<section id="email_addresses">
  <% if @mailing_list.nil? %>
    <%= link_to t('buttons.show_email_addresses'),
                params.except(:controller, :action).merge(
                    :list_email_addresses => :filtered,
                    :query_type           => 'show_email_addresses',
                    :anchor               => 'email_addresses' ),
                :id     => 'email_addresses_show_link',
                :remote => true %>
  <% else %>
    <h2><%= t 'members.index.subheaders.mailing_list' %></h2>

    <p><%= @mailing_list %></p>
    <%= link_to t('buttons.hide_email_addresses'),
                params.except(:controller,
                              :action,
                              :list_email_addresses).merge(
                    :query_type => 'hide_email_addresses',
                    :anchor     => 'email_addresses_show_button' ),
                :id     => 'email_addresses_hide_link',
                :remote => true %>
  <% end %>
</section>
