%h1= t '.header'
- @member_form_url = members_path

= render 'form'

%footer
  = link_to list_all_pictogram(3) + ' ' + t('members.index.header'),
            members_path,
            :class => 'display resource'

-# End of the main body of the view

- content_for :side_menu_list_items do
  %li
    = link_to list_all_pictogram + ' ' + t('members.index.title'),
              members_path,
              :class => 'display resource'
